@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&family=VT323&display=swap");

:root {
  --primary: #00b29d;
}

body {
  background: #f2f2f2;
  font-family: "Poppins";
}
.tabs {
  width: 600px;
  margin: 100px auto;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

/* buttons */
.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: 60px;
  width: 600px;
  border: 1px solid rgb(47, 0, 255);
}
.buttons a {
  height: 60px;
  width: 200px;
  border: 1px solid rgb(47, 0, 255);
}
/* panels */
.panels {
  position: absolute;
  top: 160px;
  height: 200px;
  width: 600px;
  margin: auto;
  background: green;
  border: 1px solid red;
}
.inactive {
  display: none;
}
.p-1 {
  background-color: #38cc77;
  height: 200px;
  width: 600px;
}

.p-2 {
  background-color: #e03b8b;
  height: 200px;
  width: 600px;
}

.p-3 {
  background-color: #3944f7;
  height: 200px;
  width: 600px;
}
