@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&family=VT323&display=swap");

:root {
  --primary: #00b29d;
}

body {
  background: #f2f2f2;
  font-family: "Poppins";
}
.tabs {
  width: 600px;
  margin: 100px auto;
  border: 2px solid black;
}

/* buttons */
.buttons {
  height: 30px;
  width: 30px;
  background: blue;
}

/* panels */
.panels {
  height: 40px;
  width: 40px;
  background: green;
}
