* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
h1 {
  margin: 20px 0;
}
section {
  position: relative;
  display: inline-block;
  /* text-align: left; */
  height: 30px;
  line-height: 30px;
  overflow: hidden;
}
word-list {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.5s ease-in-out;
}
.word-list span {
  height: 30px;
  display: block;
}
@keyframes cycle {
  0% {
    top: 0;
  }
  10% {
    top: 0;
  }
  20% {
    top: -30px;
  }
  30% {
    top: -30px;
  }
  40% {
    top: -60px;
  }
  50% {
    top: -60px;
  }
  60% {
    top: -90px;
  }
  70% {
    top: -90px;
  }
  80% {
    top: -120px;
  }
  90% {
    top: -120px;
  }
  100% {
    top: 0px;
  }
}

/* colors */
span:nth-child(1) {
  color: #ff4258;
}
span:nth-child(2) {
  color: #72ff7a;
}
span:nth-child(3) {
  color: #f7f76f;
}
span:nth-child(4) {
  color: #9759fa;
}
span:nth-child(5) {
  color: #03c7fd;
}
