* {
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 100vh;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  height: 60rem;
  width: 60rem;
  outline: 1px solid red;
}
.card {
  display: inline-block;
  text-align: left;
  height: 30px;
  line-height: 30px;

  overflow: hidden;
  outline: 1px solid blue;
}
.roll {
  display: block;
}
.word-list {
  position: relative;
  animation: cycle ease 5s infinite;
}
