:root {
  --on: #6948ed;
  --off: #555;
  --toggle-width: 80px;
  --toggle-height: 30px;
}

*,
html {
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  background: #333;
}

.switch {
  height: 80px;
  width: 80px;
  border: 3px solid yellow;
}
input:checked + .switch {
  background: red;
}
/* 
the toggle switch is centered but the check box is not ?
make checking the input happen when the toggle div or switch is "checked"



*/
