body {
  background: #333;
}
input {
  display: none;
}
.switch {
  display: block;
  margin: 100px auto;
  width: 80px;
  height: 30px;
  padding: 5px;
  background: #444;
  border-radius: 40px;
  transition: all ease 0.3s;
  position: relative;
}
.switch::before {
  content: "";
  display: block;
  height: 30px;
  width: 30px;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  left: 5px;
  transform: all ease 0.3s;
}
input:checked + .switch {
  background: #6948ed;
}
input:checked + .switch:before {
  transform: translateX(50px);
}
