* {
  box-sizing: border-box;
}
body {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 100vh;
}
.log-in-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 100vh;
}
input {
  margin: 0.5rem;
  border-radius: 25px;
  height: 3rem;
  width: 15rem;
}

.hide {
  display: none;
}
