*,
html {
  /* box-sizing: border-box; */
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #eee;
  display: flex;
}
.wrapper {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}
/* style menu  */
nav {
  /* background: rgb(80, 196, 241); */
  background: #333;
}
nav ul {
  list-style-type: none;
  padding: 0;
}
nav a {
  text-decoration: none;
  color: #fff;
  /* by default take up full width by default */
  display: block;
  padding: 10px;
  background: #777;
}
nav a:hover {
  background: #555;
}
/* flexing  */
/* media query for mobile  */
/* only flex when screen width id more that 768 px */
@media screen and (min-width: 768px) {
  nav ul {
    display: flex;
    /* apply to flex container for the stuff in it */
    justify-content: space-between;
  }
  nav li {
    /* flex: 1 1 0; */
  }
}
/* https://www.youtube.com/watch?v=2plKBskaKfY&list=PL4cUxeGkcC9i3FXJSUfmsNOx8E7u6UuhG&index=7 */
