* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}
.card {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30rem;
  width: 30rem;
  border: 1px solid teal;
  border-radius: 25px;
  margin-bottom: 10rem;
  font-size: 40px;
  font-weight: 500;
  box-shadow: 4px 5px 10px 1px #000000;
  /* Todo rotateY from 0 to 180 */
  transform: rotateX(0deg) rotateY(0deg) rotateZ(360deg);
}
.hidden {
  display: none;
}
